.link {
  max-width: 168px;
  width: 100%;
  padding: 14px 30px;
  border-radius: 42px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

.link-green {
  border: 2px solid #4eaf4e;
  color: #fff;
  background: #4eaf4e;

  &:hover {
    border: 2px solid var(--black);
    background-color: var(--white);
    color: var(--black);
  }

  &:focus {
    border: 2px solid var(--yellow);
    color: var(--yellow);
  }

  &:active {
    background-color: var(--green);
    color: var(--white);
    border: 2px solid var(--green);
    opacity: 0.7;
  }
}

.link-black {
  border: 2px solid var(--black);
  background-color: var(--black);
  color: var(--white);

  &:hover {
    border: 2px solid var(--black);
    background-color: var(--white);
    color: var(--black);
  }

  &:focus {
    border: 2px solid var(--yellow);
    color: var(--yellow);
  }

  &:active {
    background-color: var(--green);
    color: var(--white);
    border: 2px solid var(--green);
    opacity: 0.7;
  }
}

.link-yellow {
  border: 2px solid var(--yellow);
  background-color: var(--yellow);
  color: var(--black);

  &:hover {
    border: 2px solid var(--black);
    background-color: var(--black);
    color: var(--white);
  }

  &:focus {
    border: 2px solid var(--yellow);
    color: var(--yellow);
  }

  &:active {
    background-color: var(--green);
    color: var(--white);
    border: 2px solid var(--green);
    opacity: 0.7;
  }
}

.link-white {
  padding: 15px 23px;
  background: var(--white);
  color: var(--black);

  &:hover {
    background-color: var(--yellow);
    color: var(--white);
  }

  &:focus {
    outline: 2px solid var(--yellow);
    color: var(--yellow);
  }

  &:active {
    background-color: var(--green);
    color: var(--white);
    opacity: 0.7;
  }
}

.link-next {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #181818;
  position: relative;
  padding: 2px;
  max-width: 110px;
  text-align: start;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;

  &:hover {
    color: var(--yellow);

    &::before {
      transform: translate(10px, -50%);
    }
  }

  &:focus {
    color: var(--yellow);
    outline: 2px solid var(--yellow);
  }

  &:active {
    color: var(--green);
    outline: none;
  }
}

.link-next::before {
  position: absolute;
  right: 0;
  top: 50%;
  content: url(../svg/next2.svg);
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}

.link-play {
  background: url(../svg/Play.svg);
  background-repeat: no-repeat;
  transition: outline 0.3s ease-in-out;
  border-radius: 100%;

  &:hover {
    outline: 2px solid var(--yellow);
  }

  &:focus {
    outline: 2px solid var(--yellow);
  }

  &:active {
    outline: 2px solid var(--green);
  }
}

.link-normal {
  color: var(--black);
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;

  &:hover {
    color: var(--yellow);
  }

  &:focus {
    color: var(--yellow);
    outline: 2px solid var(--yellow);
  }

  &:active {
    color: var(--green);
    outline: none;
  }
}

.link-castom {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;

  &:hover {
    .link-castom__hover {
      animation: fadeInFromNone 0.5s ease-out;
      display: flex;
    }
  }

  &:focus {
    .link-castom__hover {
      display: flex;
      outline: 2px solid var(--yellow);
      animation: fadeInFromNone 0.5s ease-out;
    }
  }

  &:active {
    .link-castom__hover {
      display: none;
      outline: 2px solid var(--green);
      opacity: 0;
    }
  }

  &__image {
    border-radius: 20px;
    width: 100%;
  }

  &__hover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(24, 24, 24, 0.75);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: none; //flex
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px;
    // transition: animation 0.5s ease-in-out;
  }

  &__span {
    background: linear-gradient(154deg, #ffe9b1 0%, #dda003 100%);
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 43px;
    line-height: 116%;
    color: var(--black);
    border-radius: 100%;
    padding: 0 15px;
    max-width: 55px;
    width: 100%;
    height: 55px;
    text-align: center;
    position: absolute;
    top: 25px;
    right: 25px;
  }

  &__title {
    color: var(--white);
  }

  &__text {
    color: var(--yellow);
  }
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: flex;
    opacity: 0;
  }

  100% {
    display: flex;
    opacity: 1;
  }
}

.logo {
  display: block;
  padding: 2px;
  transition: outline 0.3s ease-in-out;

  &:hover {
    outline: 1px solid var(--yellow);
  }

  &:focus {
    outline: 1px solid var(--yellow);
  }

  &:active {
    outline: 1px solid var(--green);
  }
}

@media (max-width: 768px) {
  .link-castom {
    &:hover {
      .link-castom__hover {
        animation: none;
        display: none;
      }
    }

    &:focus {
      outline: 2px solid var(--yellow);
      .link-castom__hover {
        animation: none;
        display: none;
      }
    }

    &:active {
      .link-castom__hover {
        display: none;
        outline: 2px solid var(--green);
        opacity: 0;
      }
    }
  }
}
