.card {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;

  &__item {
    grid-column: 2 span;
    background-color: var(--grey4);
    border-radius: 20px;
    padding: 49px 47px;
    display: flex;
    flex-direction: column;
  }

  &__item--bacgr {
    background: var(--white);
    padding: 36px 23px;
    border: 1px solid #eaeaea;
    height: fit-content;
  }

  &__item--size {
    grid-column: 1 span;
    padding: 33px 19px;
  }

  &__item--blog {
    padding: 0;
    grid-column: 1 span;
    background: none;
  }

  .position {
    position: relative;
  }

  &__job {
    position: absolute;
    right: 5%;
    bottom: 35%;
    border-radius: 29px;
    padding: 4px 21px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: var(--white);
    backdrop-filter: blur(11px);
    background: var(--black);
  }

  &__job--yellow {
    background: var(--yellow);
    color: var(--black);
  }

  &__article {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__item--black {
    background-color: var(--black);
    color: var(--white);
  }

  &__top {
    margin-bottom: 20px;
  }

  &__bot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;
  }

  &__text--color {
    color: inherit;
  }

  &__icon {
    margin-left: -24px;
  }

  &__img {
    border-radius: 20px;
    width: 100%;
  }

  &__text {
    margin-bottom: auto;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    margin-top: 10px;
    column-gap: 22px;
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__data {
    border-left: 1px solid #c1c1c1;
    padding-left: 22px;
  }

  &__link--mar {
    margin-top: 20px;
  }

  &__social {
    margin-top: 33px;
    display: flex;
    gap: 33px;
    justify-content: center;
  }
}

.card--column {
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  .card {
    &__job {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    &__item {
      grid-column: 1 span;
      padding: 30px;
    }

    &__item--blog {
      padding: 0;
    }

    &__item--bacgr {
      height: auto;
    }

    &__footer {
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      padding: 5px 0;
    }

    // &__data {
    //   display: none;
    // }
  }
}

@media (max-width: 768px) {
  .card {
    &__author {
      display: none;
    }

    &__data {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .card {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;

    &__item {
      padding: 15px;
    }

    &__item--blog {
      padding: 0;
    }

    &__top {
      margin-bottom: 0;
    }

    &__icon {
      margin-left: 0;
    }

    &__author {
      display: flex;
    }

    &__data {
      display: block;
    }
  }
}
