.nav {
  &__list {
    display: flex;
    gap: 30px;
  }

  .link-decor {
    padding-left: 19px;
  }

  .link-decor::after {
    content: url(../svg/des.svg);
    position: absolute;
    left: 0;
    top: -4px;
    width: 13px;
    height: 13px;
    margin-right: 8px;
  }

  &__link {
    padding: 2px;
    position: relative;

    &:hover {
      color: var(--yellow);
    }

    &:focus {
      outline: 1px solid var(--yellow);
    }

    &:active {
      outline: none;
      color: var(--green);
    }
  }

  &__link:active.link-decor::after {
    content: url(../svg/activ.svg);
  }
}

.link-active {
  padding-left: 19px;
  color: var(--green);
}

.nav .link-active::after {
  content: url(../svg/activ.svg);
  position: absolute;
  left: 0;
  top: -4px;
  width: 13px;
  height: 13px;
  margin-right: 8px;
}

.visited-active {
  opacity: 0.7;
}

@media (max-width: 1200px) {
  .nav {
    display: none;
  }
}

@media (max-width: 500px) {
  .burger-menu__nav {
    display: block;
  }
}
// &:hover{

// }

// &:focus{

// }

// &:active{

// }
