.proccess {
  margin: 152px 0;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 55px;
    justify-content: space-between;
  }

  &__descr {
    margin-bottom: 5px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__list {
    margin-top: 10px;
  }

  &__list--width {
    margin-top: 40px;
    max-width: 460px;
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  .proccess {
    margin: 75px 0;

    &__container {
      gap: 50px;
    }
  }
}

@media (max-width: 992px) {
  .proccess {
    &__container {
      grid-template-columns: repeat(1, 1fr);
    }

    &__left {
      display: grid;
      grid-template-columns: 300px 1fr;
      gap: 30px;
    }
  }
}

@media (max-width: 768px) {
  .proccess {
    &__left {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 15px;
    }
  }
}

@media (max-width: 576px) {
  .proccess {
    margin: 25px 0;

    &__text {
      margin-bottom: 10px;
    }

    &__list {
      margin: 0;
    }
  }
}
