.work {
  margin: 85px 0;

  &__container {
    max-width: 1410px;
    display: flex;
    // justify-content: space-between;
    column-gap: 6%;
    margin-bottom: 83px;
  }

  &__left {
    max-width: 480px;
  }

  &__descr {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__list {
    margin-top: 24px;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 425px;
  }

  &__item {
    position: relative;
  }

  &__item::before {
    position: absolute;
    top: 40%;
    left: -40px;
    content: url(../svg/check.svg);
    transform: translateY(-50%);
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  .work {
    margin: 50px 0;

    &__container {
      position: relative;
    }

    &__left {
      position: absolute;
      right: 6%;
      top: 50%;
      backdrop-filter: blur(6px);
      background: rgba(255, 255, 255, 0.64);
      border-radius: 10px;
      padding: 20px;
      max-width: 500px;
      transform: translateY(-50%);
    }
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .work {
    &__img {
      display: none;
    }

    &__left {
      position: relative;
      right: 0;
      top: 0;

      padding: 20px;
      max-width: 768px;
      transform: translateY(0);
    }
  }
}

@media (max-width: 576px) {
  .work {
    margin: 25px 0;
  }
}
